<div class='home-page'>
  <div class='border'>
    <h1>Find your sitter</h1>
  </div>

  <form>
    <fieldset>
      <div class="small-10 columns">
        <input type="text" placeholder="City or Zip Code">
      </div>
      <div class="small-2 columns">
        <a href="/users" class="button postfix">Go</a>
      </div>
    </fieldset>
  </form>
</div>
