<div class='home-page'>
  <div class='border'>
    <h1>Find your sitter</h1>
  </div>


    <fieldset>
    <div id="myform">

      <%= form_tag sitters_path, method: :get do %>
        <%= text_field_tag(:address, nil, placeholder: "Enter your city", id: "address") %>
        <%= submit_tag "Go" %>
      <% end %>
      </div>
    </fieldset>
</div>

<!-- onclick="findLocation()" -->
<!--       <div class="small-2 columns">
        <a href="/sitters" class="button postfix">Go</a>
      </div> -->
