@import "variables";
@import "mixins";
@import "foundation";

.sign-up {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  .legend {
    font-family: $dogstay-font-theme;
    font-size: 2em;
  }

  .postfix {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background: #008080;
  }
}

@media #{$small-only} {
  .sign-up { width: 90%; };
}
