@import "variables";
@import "mixins";

.sign-up {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  .legend {
    font-family: $dogstay-font-theme;
    font-size: 2em;
  }

  .postfix {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background: #008080;
  }
}
