@import "variables";
@import "mixins";

body.home-page {
  background: url(dog.png) no-repeat;
  background-size: 100%;
  opacity: 0.9;

  .right {
    padding: 1em;
    padding-left: 2em;

    a {
      border-bottom: 2px solid transparent;
      color: #ffffff;
      font-family: "Poiret One";
      font-size: 0.9em;
      margin-right: 1.5em;
      padding-bottom: 0.3em;

      &:hover {
        border-color: #008080;
        color: #008080;
      }
    }
  }

  p {
    color: #ffffff;
    font-family: "Poiret One";
    font-size: 12em;
    margin: 0;
    padding-top: 13%;
    text-align: center;
  }

  .search {
    width: 50%;
  }

  .postfix {
    background-color: #008080;
  }
}
