@import "variables";
@import "mixins";

body.home-page {
  background: url(dog.png) no-repeat;
  background-size: 100%;
  opacity: 0.9;

  .right {
    padding-left: 2em;
    padding-top: 0.9em;

    a {
      @include link-border;
      font-size: 0.9em;
      margin-right: 1.5em;
      padding-bottom: 0.3em;

      &:hover {
        @include hover;
      }
    }
  }

  p {
    color: #ffffff;
    font-family: $dogstay-font-theme;
    font-size: 12em;
    margin: 0;
    padding-top: 13%;
    text-align: center;
  }

  .search {
    width: 50%;
  }

  .postfix {
    background-color: #008080;
  }
}
