@import "variables";
@import "mixins";

.map {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;

  #map-canvas {
    margin-top: 1em;
    height: 400px;
    width: 100%;

    label {
      width: auto;
      display:inline;
    }

    img {
      max-width: none;
    }
  }
}
