@import "variables";
@import "mixins";
@import "media";

#map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 0;
}

  #map-canvas {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    height: 37em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;

    label {
      display:inline;
      width: auto;
    }

    img {
      max-width: none;
    }
  }

@media #{$tiny-only} {
  #map {
    display: none;
  }
}
