@mixin image-style {
  border-radius: 20em;
  height: 7em;
  width: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

@mixin sitter-details {
  font-size: 0.9em;
  padding-left: 2em;
  padding-top: 0.5em;
}

@mixin padding {
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

@mixin link-border {
  border-bottom: 2px solid transparent;
  color: #ffffff;
  font-family: $dogstay-font-theme;
}

@mixin hover {
  border-color: #008080;
  color: #008080;
}

@mixin flash {
  padding: 1em;
  font-size: 0.5em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 0.2;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  background: #008080;
  shadow: (0, 1px, 2px, rgba(0,0,0,.5));
  border-radius: 0 0 1em 1em;
}
