@import "variables";
@import "mixins";

//SEARCH
.all {
  max-width: 80%;

  #map-canvas {
    align: right;
    float: right;
    height: 1000px;
    left: 55%;
    margin-right: 3em;
    margin-top: 3em;
    max-width: inherit;
    position: absolute;
    width: 500px;
    z-index: 1;
  }

#search-sitter-container {
  font-family: $sitter-font-type;
  margin-right: auto;

  .sitter-profile {
    padding-top: 3em;
    height: 250px;

    .small-4 {
      padding: 0;
      margin:0;

      img {
        @include image-style;
      }

      .row-name {
        text-align: center;
      }
    }

    #sitter-info {

      .headline {
        font-size: 1.5em;
        font-weight: bold;
      }

      .address {
        font-size: 0.8em;
      }

      .addtl-info {
        padding-top: 2.6em;
      }
    }
  }
}
}
//SINGLE
#sitter-container {
  font-family: $sitter-font-type;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  .hr {
    opacity: 0.3;
  }

  .sitter-profile {
    margin: 0;
    padding-top: 3em;

    .small-6 {
      margin:0;
      padding: 0;

      img {
        @include image-style;
      }

      .row-name {
        text-align: center;
      }
    }

    .headline {
      font-size: 1.5em;
      font-weight: bold;
    }

    .address {
      font-size: 0.8em;
    }

    .addtl-info {
      padding-top: 2.6em;
    }
  }

  #details-column {
    @include padding;

    .about-header {
      font-size: $sitter-headline-font;
      font-weight: $sitter-headline-weight
    }

    .panel-about {
      margin: 0;
      padding: 2em;
      font-size: 0.9em;
    }

    .image-carousel {
      font-size: $sitter-headline-font;
      font-weight: $sitter-headline-weight
    }

    .price {
      @include sitter-details;
    }

    .availability {
      @include sitter-details;
    }

    .hr {
      opacity: 0.3;
    }
  }
}
