@import "variables";
@import "mixins";
@import "media";

.top-bar {
  background: transparent !important;
  height: 3.2rem;

  .name li h1 a {
    font-family: $dogstay-font-theme;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    padding: 0;

    &:hover {
      @include hover;
    }
  }

  .name img {
    height: 2em;
    margin-left: 1em;
    margin-top: 0.5em;
    width: 2em;
  }

  .right {
    padding-left: 2em;
    padding-top: 1.1em;

    img {
      border-radius: 20em;
      height: 1.5em;
      margin-right: 1.5em;
      width: 1.5em;
    }

    a {
      @include link-border;
      font-size: 0.9em;
      margin-right: 1.5em;
      padding-bottom: 0.3em;
      font-weight: bold;
      color: #000000;

      &:hover {
        @include hover;
      }
    }
  }
}

@media #{$tiny-only} {
 .top-bar .name img {
    margin-left: 7.5em;
  }
}
