@import "variables";
@import "mixins";

.top-bar {
  height: 3.2rem;
  background: transparent;

  .name h1 a {
    font-family: $dogstay-font-theme;
    font-size: 1.5em;
    font-weight: bold;
    color: black;

    &:hover {
      @include hover;
    }
  }

  .right {
    padding-left: 2em;
    padding-top: 0.9em;

    img {
      border-radius: 20em;
      height: 1.5em;
      margin-right: 1.5em;
      width: 1.5em;
    }

    a {
      @include link-border;
      font-size: 0.9em;
      margin-right: 1.5em;
      padding-bottom: 0.3em;
      font-weight: bold;
      color: black;

      &:hover {
        @include hover;
      }
    }
  }
}
