@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Arapey);
@import url(https://fonts.googleapis.com/css?family=Lato);

$sitter-font-type: "Lato";
$sitter-headline-font: 1.2em;
$sitter-headline-weight: bold;
