/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.row input{
  font-family: Helvetica,Arial,sans-serif;
}

fieldset {
  width: 716px;
  height: 79px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 0;
}

.row .button {
  width: 14.2em;
  height: 3.5em;
  margin-bottom: -2px;
  text-align: center;
  line-height: 50px;
}

.top-bar {
  background-color: #333333 !important;
  opacity: 0.7;
}

.top-bar .right li {
  font-family: 'Didot';
  font-size: 0.6em;
  display: inline-block;
  padding-right: 13px;
  padding-top: 17px;
}

.home-page {
/*  width: 100%;
  height: 100%;
*/position:fixed;
  top:45px;
  bottom:0px;
  left:0px;
  right:0px;
/*  background: url("http://ppcdn.500px.org/23046103/06f0170689650fedee44f3fe960de4f2c9a1e0f9/4.jpg") no-repeat center center fixed;*/
  background: url("https://prcdn.500px.org/watermark/75393703/14/position%3Dnorthwest_opacity%3D80_watermark%3Dprime_attachment%3Dtrue_filename%3Dstock-photo-stairway-of-dreams-75393703/a0b2529e2cd265440101035f5f1f2aa921bbf33e") no-repeat center center fixed;
  background-size: cover !important;
  opacity: 0.7;
}

.top-bar li a {
  font-family: 'Didot';
  font-size: 1.5em;
  color: #FFFFFF !important;
  font-weight: bold !important;
  padding-top: 2px !important;
}

.home-page {
  text-align: center;
  padding-top: 10%;
  font-family: 'Helvetica';
  font-size: 4em;
}

.border h1 {
  font-family: 'Didot';
  font-size: 1.5em;
}
